<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Diver Details</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container" th:object="${diver}">
    <h1 th:text="*{displayName}">Name</h1>
    <div class="container">
        <h3>Certifications</h3>
        <div th:each="certification : *{certifications}">
            <p th:text="${certification.name}"></p>
        </div>

    </div>
    <div class="container">
        <h3>Rented Equipment</h3>
        <p>
            asd
            asd
            das
        </p>
    </div>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>