<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Add or Edit a Diver</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div class="container">
    <h1>Add or edit a Diver</h1>
    <p>Please fill in the form.</p>
    <div class="container-sm">
        <form class="row gy-2 gx-3 align-items-center" th:action="@{/diver/new}" method="post"
              th:object="${diver}">
            <input type="hidden" th:field="*{diverId}">

            <div class="col-auto">
                <label for="firstName" class="form-label col-sm-2">First Name</label>
                <input id="firstName" type="text" th:field="*{firstName}"/>
            </div>
            <div class="col-auto">
                <label for="middleName" class="form-label col-sm-2">Middle Name </label>
                <input id="middleName" type="text" th:field="*{middleName}"/>
            </div>
            <div class="col-auto">
                <label for="lastName" class="form-label col-sm-2">Last Name</label>
                <input id="lastName" type="text" th:field="*{lastName}"/>
            </div>
            <div class="col-lg-1">
                <label for="certifications" class="form-label col-sm-4">Certifications</label>
                <div>
                    <select id="certifications" th:field="*{certifications}" multiple>
                        <option th:each="certification : ${allCertifications}"
                                th:value="${certification.certificationId}"
                                th:text="${certification.name}">
                        </option>
                    </select>
                </div>
            </div>
            <br>
            <div class="col-xxl">
                <input class="btn btn-primary" type="submit" value="Save Diver"/>
            </div>
        </form>
        <br>
        <a class="btn btn-danger" href="/diver/all">Return to Diver Overview without saving</a>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>