<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Equipment-details</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1>Details of <span th:text="${equipment.name}"></span> <span th:text="${equipment.type}"></span>
    </h1>
    <table>
        <tr>
            <th>Size:</th>
            <td th:text="${equipment.size}"></td>
        </tr>
        <tr>
            <th>Brand:</th>
            <td th:text="${equipment.brand}"></td>
        </tr>
        <tr>
            <th>Certification:</th>
            <td th:text="${equipment.certification.name}"></td>
        </tr>
        <tr>
            <th>Available:</th>
            <td th:text="${equipment.numberOfAvailableRentals}"></td>
        </tr>
    </table>
    <br>
    <p sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
        <a class="btn btn-primary"
           th:href="@{/equipment/edit/{equipmentName}(equipmentName=${equipment.name})}">Edit
            Equipment</a>
    </p>
    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a class="btn btn-primary" th:href="@{rental/new/{equipmentId}(equipmentId=${equipment.equipmentId})}">
                Add Rental</a>
        </p>
        <p>
            <a class="btn btn-danger"
               th:href="@{/equipment/delete/{equipmentId}
        (equipmentId=${equipment.equipmentId})}">Delete Equipment</a>
        </p>
    </div>

    <table class="table-sm table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Availability</th>
            <th>Rented by</th>
            <th sec:authorize="hasRole('ADMIN')">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="rental : ${equipment.rentals}">
            <td th:text="${rental.rentalId}"></td>
            <td th:if="${rental.available}">
                <a class="btn btn-primary"
                   th:href="@{/rental/borrow/{rentalid}(rentalid=${rental.rentalId})}">Borrow</a>
            </td>
            <td th:unless="${rental.available}">
                <a class="btn btn-primary"
                   th:href="@{/rental/return/{rentalId}(rentalId=${rental.rentalId})}">Return</a>
            </td>
            <td th:if="${rental.available}">
                none
            </td>
            <td th:unless="${rental.available}">
                diverID
            </td>
            <td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger"
                                                    th:href="@{/rental/delete/{rentalId}
                                                    (rentalId=${rental.rentalId})}">Delete</a>
            </td>
            <td>
            </td>
        </tr>
    </table>
    <br>
    <a class="btn btn-secondary" href="http://localhost:8080/">Return to Overview</a>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>