<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Equipment Form</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div class="container">
    <h1>Add new Equipment:</h1>
    <div class="container-sm">
        <form class="row gy-2 gx-3 align-items-center" th:action="@{/equipment/new}" method="post"
              th:object="${equipment}">
            <input type="hidden" th:field="*{equipmentId}">

            <div class="col-auto">
                <label for="name" class="form-label col-sm-2">Name</label>
                <input id="name" type="text" th:field="*{name}"/>
            </div>
            <div class="col-auto">
                <label for="type" class="form-label col-sm-2">Type </label>
                <input id="type" type="text" th:field="*{type}"/>
            </div>
            <div class="col-auto">
                <label for="size" class="form-label col-sm-2">Size</label>
                <input id="size" type="text" th:field="*{size}"/>
            </div>
            <div class="col-auto">
                <label for="brand" class="form-label col-sm-2">Brand </label>
                <input id="brand" type="text" th:field="*{brand}"/>
            </div>
            <div class="col-lg-1">
                <label for="certifications" class="form-label col-sm-4">Certifications</label>
                <div>
                    <select id="certifications" th:field="${equipment.certification}">
                        <option th:each="certification : ${certifications}"
                                th:value="${certification.certificationId}"
                                th:text="${certification.name}">
                        </option>
                    </select>
                </div>

            </div>
            <br>
            <div class="col-xxl">
                <input class="btn btn-primary" type="submit" value="Save Equipment"/>
            </div>
        </form>
        <br>
        <a class="btn btn-danger" href="/overview">Return to Overview without saving.</a>
    </div>

</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>