<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">
    <title>EquipmentOverview</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
<h1>We have the following available:</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Brand</th>
        <th>Certification</th>
        <th>Available</th>
        <th>Add Rental</th>
    </tr>
    <tr th:each="equipment : ${allEquipment}">
        <td><a th:href="@{equipment/details/{equipmentName}(equipmentName=${equipment.name})}"
               th:text="${equipment.name}"></a></td>
        <td th:text="${equipment.type}"></td>
        <td th:text="${equipment.size}"></td>
        <td th:text="${equipment.brand}"></td>
        <td th:text="${equipment.certification}"></td>
        <td th:text="${equipment.numberOfAvailableRentals}"></td>
        <td><a th:href="@{rental/new/{equipmentId}(equipmentId=${equipment.equipmentId})}">Add</a></td>
    </tr>
</table>
<br>
<a href="/equipment/new">Add new Equipment.</a>
</body>
</html>